:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: auto 20px ;
}

h1, h2, h3, h4, h5 ,h6, p {
  margin: 0;
}

.icon{
  display: flex;
  align-items:center;
}

.icon img{
  margin-right: 3px;
  height: 30px;
}
