@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Open Sans", sans-serif;
}

.mapboxgl-popup-close-button {
  width: 2rem;
  height: 2rem;
  font-size: 2.2rem;
}

.mapboxgl-popup-content{
  padding: 15px 15px 20px !important;
}